body {
    height: 100%;
    width: 98%;
    margin: 0px;
    font-family: Candara !important;
    padding: 10px;
}
#table td {
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 95px;
    text-align:center;
}
tr#firstline > td {
    background-color: #6699ff;
}
.slider {
    width: 600px;
    height: 382px;
    border: 2px solid white;
    margin:  30px auto;
    overflow: hidden;
}
.slider-line {
    height: 382px;
    width: 1200px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-next {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.pop-up {
    margin: 30px auto;
    display: flex;
    justify-content: right;
}
.pop-table {
    visibility: hidden;
    width: 120px;
    height: 50px;
    border: 2px solid black;
    margin:  30px auto;
}